

@font-face {
  font-family: Cyberpunk;
  src: url(commando.ttf);
}



@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #ff124f,
      0 0 11px #ff124f,
      0 0 19px #ff124f,
      0 0 40px #ff00a0,
      0 0 80px #ff00a0,
      0 0 90px #ff00a0,
      0 0 100px #ff00a0,
      0 0 150px #ff00a0;
  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #ff124f,
      0 0 4px #ff124f,
      0 0 6px #ff124f,
      0 0 10px #ff00a0,
      0 0 45px #ff00a0,
      0 0 55px #ff00a0,
      0 0 70px #ff00a0,
      0 0 80px #ff00a0;
  }
}
@font-face {
    font-family: Cyberpunk;
    src: url(commando.ttf);
  }

  .home {
    color: #ffd79d;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(170deg, #000000 26%, #100634 44%, #54037e 49%, #a734c7 50%, #7b0093 50%, #8a1f7d 61%, #000000 72%, #000000 79%, #000000 87%, #000000 89%, #000000 89%, #000000 100%);
    font-weight: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk';
    font-size: large;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: transparent;
  }


   
  .titles  {
    text-shadow:
    0 0 7px rgb(238, 9, 9),
    0 0 10px #ff124f,
    0 0 21px #ff124f,
    0 0 42px #ff00a0,
    0 0 82px #ff00a0,
    0 0 92px #ff00a0,
    0 0 102px #ff00a0,
    0 0 151px #ff00a0;
    float: none;
    text-align: center;
    background-color: transparent !important;
    
}

.title > h2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    
}


  
